@import '../variables.scss';

.extensibility-section {
  header h2:before {
    background-image: url(/features/plugin-support_shadow.png);
    background-size: 62px 63px;
  }

  section {
    .plugin-support, .access-cloud, .integration {
      i.icon, a {
        color: #42b939;
      }
    }

    .plugin-examples {
      margin-bottom: 1em;
    }

    .plugin-screenshot {
      background-color: #f4f4f4;
      border-radius: 4px;
      margin: 8px;
      padding-top: 1em;
      padding-bottom: 1em;
      height: 200px;
    }
    .screenshot {
      margin: 0 auto;
    }
  }

  hr.separator {
    border: none;
    border-top: 1px solid #eee;
    margin: 3em 0;
  }
}
