@import '../variables.scss';

.functionality-section {

  header h2:before {
    background-image: url(/features/simple-functionality_shadow.png);
    background-size: 62px 63px;
  }
  section i.icon, section a {
    color: #ab34ff;
  }

  .markdown-support {
    img {
      margin: 0 auto;
    }
  }
  .builtin-sync {
    img {
      margin: 0 auto;
    }
  }

  @media screen and (width >= $screen-sm-min) {
    section.high-usability {
      background-repeat: no-repeat;
      background-position: 50vw bottom;
      background-size: 1313px 839px;
      min-height: 850px;

      .ui.grid {
        min-height: 700px;

        .usability-description-column {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
      &.macos {
        background-image: url(/features/ui-theme-light-macos.png);
      }
      &.windows {
        background-image: url(/features/ui-theme-light-windows.png);
      }
      &.linux {
        background-image: url(/features/ui-theme-light-linux.png);
      }
    }
  }

}
