@import '../variables.scss';

.getnow-section {
  padding: 2rem 0;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  background: #fafafa;

  .big-icon {
    text-align: right;
  }

  h1 {
    font-family: 'Helvetica Neue', Lato, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 0.3em 0 0.2em 0;
  }

  h2 {
    color: rgba(0, 0, 0, 0.5);
    font-weight: normal;
    font-size: 1.4rem;
    margin: 0.2em 0 0.2em 0;
  }

  .link-to-signup {
    margin-top: 1rem;
  }

  @media screen and (width <= $screen-sm-min) {
    h1 {
      font-size: 30px;
    }
    .big-icon {
      text-align: center;
    }
    .get-started-message {
      text-align: center;
    }
  }
}
