
.ui.button.rounded:not(.labeled) {
  font-family: 'Helvetica Neue', Lato, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  padding: 0.6em 1.5em;
  margin-bottom: 1em;
  border-radius: 1.3em;

  &.icon {
    > span {
      margin-right: 0.6em;
    }
    i.icon {
      font-size: 1.2em;
    }
  }
}

.ui.rounded.right.labeled.icon.button {
  border-radius: 1.3em;
}

.center.aligned {
  text-align: center;
}
