.main-content {
  p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.6rem;
  }

  .ui.button.rounded {
    margin: 0.6em 0 1em 1em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 16px;
    color: #3d7aed;
    border: 1px solid #3d7aed;
    border-radius: 1.3em;
    background: transparent;

    &:hover, &:active, &:focus {
      background: white;
    }

    &.white {
      color: white;
      border-color: white;

      &:hover, &:active, &:focus {
        color: #3d7aed;
      }
    }
  }

  .section-get-now {
    background: url(../images/masthead-bg.jpg);
    background-color: #ecf2fd;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }
}
