.period-tabs.ui.centered.grid {
  .billing-interval-menu.column {
    text-align: center !important;
    margin-bottom: 1em;
    .secondary.pointing.menu a {
      color: white;
      font-weight: lighter;
      transition: all 0.4s;
      &.active,
      &:hover,
      &.active:hover {
        color: #ffc001;
        border-color: #ffc001;
      }
    }
  }
}
