.app--breadcrumb {
  position: sticky;
  top: 0;
  z-index: 10;

  border: none;
  border-top-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0) 100%
    )
    5%;
  padding-top: 1em;
  padding-bottom: 1em;
}
