@import '../variables.less';

section.masthead .plan-panel {
  background: white;
  box-shadow: 0 15px 35px rgba(0,0,0,.1), 0 3px 10px rgba(0,0,0,.07);
  border-radius: 12px;

  h2.price {
    font-size: 5em;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: -0.5em;

    span.currency {
      vertical-align: super;
      font-size: 2rem;
      margin-right: 0.2em;
    }
    span.period {
      font-size: 2rem;
      margin-left: 0.2em;
    }
  }
  .description {
    margin: 2em 1em 1em 1em;
    font-size: large;
    text-align: left;
    i.icon.asterisk {
      font-size: 0.8rem;
      vertical-align: middle;
      color: #ff63c3;
    }
  }
  h3.plan {
    font-weight: lighter;
  }
}
