@import '../variables.less';

.pricing-masthead.masthead {
  .icon-container {
    display: flex;
    justify-content: center;
    align-content: center;
    color: var(--foreground-color);
    border-radius: 2rem;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
  }

  article.pricing {
    margin-top: 4rem;
  }
}
