@import '../variables.less';

.pricing-masthead {
  .coffee-icon-container {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid var(--foreground-color);
    border-radius: 2rem;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;

    i.coffee.icon {
      font-size: 2rem;
      color: #66b6ea;
      line-height: 4rem;
    }
  }

  article.pricing {
    margin-top: 4rem;
  }
}
