@import '../variables.less';

section#testimonials {
  &:before {
    background-image: url(/section-separator-sync.svg);
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 7.77%;
    top: -2px;
    background-size: cover;
    position: relative;
    z-index: 10;
    margin-bottom: -0.1875rem;
  }

  h2 {
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0rem;

    .button {
      font-size: 1rem;
      padding: 0.4rem 0.6rem;
    }
  }

  p.sub-headline {
    text-align: center;
  }

  .testimonial-list {
    .testimonial-item {
      position: relative;
      margin: 1rem auto 0 auto;
      min-height: 15rem;
      @media (max-width: @mobileBreakpoint) {
        min-height: 20rem;
      }

      .profile {
        text-align: right;

        .face {
          border-radius: 50%;
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1),
            0 3px 10px rgba(0, 0, 0, 0.07);
        }

        .name {
          padding-top: 1rem;
          font-size: 1.3rem;
          font-weight: bold;

          &:before {
            content: '— ';
            font-weight: normal;
          }
        }
        .title,
        .company {
          font-size: 0.9rem;
          color: rgba(0, 0, 0, 0.6);
        }
        .title + .company:before {
          content: ', ';
        }
        .links {
          display: inline-block;
          margin-left: 0.4rem;

          a {
            color: rgba(0, 0, 0, 0.4);
          }
        }
      }

      .quote.left.icon {
        position: absolute;
        left: -1.5em;
        opacity: 0.3;
        font-size: 2rem;
      }

      p {
        padding: 0 1rem;
        margin-bottom: 0.8rem;
        text-align: justify;
        font-size: 16px;
      }

      /*
      p:before {
        content: "\201C";
        margin-left: -.6ex;
      }

      p:after {
        content: "\201D";
      }
      */

      @media (max-width: @mobileBreakpoint) {
        p {
          font-size: 1.2rem;
        }
      }
    }
  }

  .carousel {
    margin: 3rem 0 5rem 0;
  }

  .carousel-cell {
    width: 600px;
    margin: 0 1rem;

    .ui.card {
      width: auto;
      margin: 0 2rem;
      background-color: white;
      border: none;
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.07);
      border-radius: 0 1rem 1rem 1rem;
    }

    p {
      font-size: 1.3rem;
    }

    @media (max-width: @mobileBreakpoint) {
      width: 300px;
      flex-direction: column;
      margin: 0;
      .profile {
        margin-bottom: 1rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}
