.carousel-face-dot-container {
  text-align: center;
  margin: 2rem;

  .carousel-face-dot-item {
    position: relative;
    display: inline-block;
    margin: 0.3rem 0.3rem;
    position: relative;

    img {
      border: 1px solid rgba(0,0,0,0.2);
      border-radius: 50%;
      margin: 0;
    }

    &.active {
      &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -8px;
        left: 0;
        width: 0px;
        height: 0px;
        margin: auto;
        border-style: solid;
        border-color: transparent transparent #ff63c3 transparent;
        border-width: 0 10px 10px 10px;
      }
    }
  }
}

