@import '../variables.less';

.tips-masthead {
  .coffee-icon-container {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid var(--foreground-color);
    border-radius: 2rem;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;

    i.coffee.icon {
      font-size: 2rem;
      color: #66b6ea;
      line-height: 4rem;
    }
  }

  section {
    margin-top: 3rem;
    text-align: left;
    text-indent: 1rem;

    > p {
      font-weight: normal;
    }
  }

  .masthead-image-container {
    display: block;
    position: relative;
    --play-button-size: 80px;
    cursor: pointer;
    color: white;

    .play-button {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: ~'calc(-1 * var(--play-button-size) / 2)';
      margin-left: ~'calc(-1 * var(--play-button-size) / 2)';

      svg {
        width: var(--play-button-size);
        height: var(--play-button-size);
      }
    }

    &:hover {
      color: red;
    }
  }
}
