@import "../variables.less";

.top-masthead {
  .masthead-icons {
    position: relative;

    .masthead-icon-item {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      width: 4rem;
      height: 4rem;
      // border: 3px solid rgba(3, 27, 78, 0.3);
      border-radius: 30px;

      > i.icon {
        color: rgba(3, 27, 78, 0.3);
        margin: 0;
      }

      &:first-child {
        left: -7%;
        top: -4vw;
      }
      &:nth-child(2) {
        left: 10%;
        top: -10vw;
      }
    }
  }
  .screenshot {
    max-width: 1024px;
    margin: 0 auto;

    &.screenshot-ios, &.screenshot-android {
      max-width: 800px;
    }
  }
}
