section#beautiful-ui {
  position: relative;
  text-align: center;
  background: #151617;
  padding-top: 3em;
  padding-bottom: 10vh;

  h2 {
    font-size: 2.82rem;
    color: white;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #e64c4c 0%, #ef32fb 100%);
  }

  p {
    color: rgba(255,255,255,0.65);
  }
}
