@import '../variables.less';

.top-masthead {
  overflow: hidden;

  .masthead-icons {
    position: relative;

    .masthead-icon-item {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      width: 4rem;
      height: 4rem;
      // border: 3px solid rgba(3, 27, 78, 0.3);
      border-radius: 30px;

      > i.icon {
        color: rgba(3, 27, 78, 0.3);
        margin: 0;
      }

      &:first-child {
        left: -7%;
        top: -4vw;
      }
      &:nth-child(2) {
        left: 10%;
        top: -10vw;
      }
    }
  }

  .headline {
    margin-bottom: 2em;
  }

  .screenshot-container {
    position: relative;

    .play-button-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 10;
      width: 200px;
      height: 100px;
      left: 50%;
      margin-left: -100px;
      top: 50%;
      margin-top: -60px;
      cursor: pointer;

      .play-icon {
        width: 50px;
        height: 50px;
        color: @blue;
      }

      &:hover .play-icon {
        color: @linkColor;
      }

      > div {
        font-weight: bold;
      }
    }

    .screenshot {
      max-width: 1024px;
      margin: 0 auto;

      &.screenshot-ios,
      &.screenshot-android {
        max-width: 800px;
      }
    }
    .masthead-spacer {
      display: block;
      height: 80vh;
    }
  }

  .spec-grid-container {
    --gap: 2em;
    --line-offset: calc(var(--gap) / 2);
    --line-thickness: 1px;
    --line-color: hsla(0deg, 0%, 10%, 50%);
    --text-color: hsla(0deg, 0%, 100%, 60%);

    margin-top: 2em;
    padding: calc(var(--gap) / 2);
    color: var(--text-color);
    border: 1px solid hsla(0deg, 0%, 100%, 30%);
    border-radius: 1em;
    background-color: hsla(0deg, 0%, 0%, 60%);
    backdrop-filter: blur(20px);
    overflow: hidden;
    outline: 1px solid hsla(0deg, 0%, 100%, 20%);
    outline-offset: 6px;

    .spec-grid {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      overflow: hidden;
      gap: var(--gap);

      .item {
        position: relative;
        padding: 0em;
        align-items: center;

        @media (max-width: @tabletBreakpoint) {
          font-size: 0.9em;
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          background-color: var(--line-color);
          z-index: 1;
        }

        &::after {
          inline-size: 100vw;
          block-size: var(--line-thickness);
          inset-inline-start: 0;
          inset-block-start: calc(var(--line-offset) * -1);
        }
        &::before {
          inline-size: var(--line-thickness);
          block-size: 100vh;
          inset-block-start: 0;
          inset-inline-start: calc(var(--line-offset) * -1);
        }
      }
    }

    .spec-grid .item .icons {
      svg {
        width: 24px;
        margin-inline: 0.4em;

        @media (max-width: @tabletBreakpoint) {
          margin-inline: 0.2em;
        }
      }
    }
  }
}
