.description-desktop {
  display: none;
  &.active {
    display: block;
  }

  .link-demo {
    margin-top: 1em;
    margin-bottom: 1em;
    > a {
      border-radius: 1.3em;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 4px 4px 4px 12px;
      border: 1px solid rgba(255, 255, 255, 0.3);
    }
  }

  .screenshot {
    .ui.image {
      margin: 0 auto;
    }
  }
}
