.learn-more-section {
  text-align: center;
  padding: 2rem 0;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  background: #fafafa;

  h1 {
    font-family: 'Helvetica Neue', Lato, Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 6vmin;
    margin: 0 0 0.3em 0;
  }

  .description {
    margin: 0 0 1em 0;
    font-size: 1.14285714rem;
  }
}
