.news-section {
  h2 {
    font-family: 'Helvetica Neue', Lato, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 2.5vmin;
    text-align: center;
  }

  ul {
    text-align: left;
  }
}
