.supporting-platform {
  color: rgba(255, 255, 255, 0.5);
  margin-left: 8px;
  font-weight: lighter;

  &:first-child {
    margin-left: 0;
  }

  strong {
    color: white;
  }

  .platform-icon {
    vertical-align: middle;
    margin: 0 4px 4px 0;
  }
}
