.supporting-devices {
  margin-bottom: 1em;

  .secondary.pointing.menu a.item {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: lighter;
    transition: all 0.4s ease;
    &.active,
    &:hover,
    &.active:hover {
      color: #ffc001;
      border-color: #ffc001;
    }
    i.icon {
      font-size: 30px;
    }
    .mobile.icon {
      font-size: 36px;
      margin-right: 0;
    }
  }
}
