.testimonials-section {
  padding: 2rem 0;
  background: white;
  text-align: left;

  h2 {
    text-align: center;
    font-family: 'Helvetica Neue', Lato, Arial, Helvetica, sans-serif;
    font-size: 2.5vmin;
  }

  i.quote.icon {
    color: rgba(0, 0, 0, 0.4);
  }

  .testimonial-item {
    font-family: 'Helvetica Neue', Lato, Arial, Helvetica, sans-serif;
    font-size: 1.3rem;

    p:before {
      content: "\201C";
      margin-left: -.6ex;
    }

    p:after {
      content: "\201D";
    }
  }

  .testmonial-by {
    text-align: right;

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      vertical-align: middle;
      margin-left: 0.2em;
      margin-right: 0.3em;
    }
  }
}
