@import '../components/variables.scss';

article.app--top {

  .ui.embed {
    background: none;
    width: 1313px;
    &.win {
      width: 1200px;
    }

    .video.play.icon {
      &:before {
        color: $blue;
      }
      &:after {
        background: none;
      }
    }
    .video.play.icon:hover {
      &:before {
        color: #1c67f5;
      }
    }
  }

}
